<ion-content>
    <div class="container">
        <div class="header">
            <div class="header-data">
                <h1 class="app-title">$ dev start</h1>
                <p class="description">As linguagens mais requisitadas do mercado</p>
            </div>

        </div>
        <div class="main">
            <ion-list>
                <ion-item *ngFor='let language of languages'>
                    <img [src]="language.logo" alt="">
                    <div class="item-content">
                        {{language.name}} {{language.vacancies}} vagas
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </div>
</ion-content>